%h1 Cards#show
%table
  %thead
    %tr
      %th Name
      %th Price
      %th{style:"text-align:left"} Quantity
  %tbody
    - @order_items.each do |item|
      %tr
        %td= item.product.name
        %td= item.price
        %td
          = form_for [@order, item], remote: true  do |f|
            = f.hidden_field :product_id, :value => item.product.id
            = f.number_field :quantity, :value => item.quantity.to_i
            = f.submit "Update"
            = f.button 'Remove', formmethod: :delete
%h3
  Sales Taxes: #{@order.sales_taxes} $
%h3
  Total: #{@order.total? ? (@order.total).round(2) : 0} $
%h2
= link_to 'Back', orders_path
